<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/nav'); %>
        <div class="container page-body">

            <h1 class="py-3 ">Exam Name</h1>
            <form action="/api/auth/submit" method="POST" enctype="multipart/form-data" class="row">
            <!-- <form action="/test" method="POST" enctype="multipart/form-data" class="row"> -->
                <div class="col-lg-9">
                    <div class="question">
                        <b> Q1. </b>
                        <%= test.qs %>
                    </div>
                    <div class="answer my-4 py-5">
                        <div class="mx-3">
                            <h2 class="color-blue ">Answer</h2>
                            <input type="file" name='strex' id='strex' class="form-control my-3 " >
                            <input type="text" name='comment' class="form-control " placeholder="Comments">
                            <input type="text" name='testName' class="d-none" value="<%= "testNameX "%>">
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="w-100">
                        <b>
                            Time Remaining:
                            <p id="timer"></p>
                        </b>
                        <hr>
                    </div>
                    <div>
                        <div id="outputSpeed"></div>
                    </div>
                    <p id="status"></p>
                    <input type="button" value="Create Key and Check Speed" id="submitCheck"
                        class="btn btn-outline-primary w-100">
                    <input type="text" name='SHA-key' id="SHA-key" value="" class="w-100 form-control py-1 my-1">
                    <input type="submit" id="submitKeyFile" value="Confirm & Submit"
                        class="w-100 btn btn-outline-success" style="display:none">
                    <div style="display:none;" id="submitAlt">
                        <hr>
                        <input type="submit" id="submitKey" value="Send Key & Upload Later"
                            class="w-100 btn btn-outline-warning mb-2">
                        <h4 class="text-center color-orange fw-bold">OR</h4>
                        <input type="submit" id="submitKeyFile1" value="Submit File Anyway"
                            class="w-100 btn btn-outline-danger mb-4">
                    </div>
                </div>
            </form>

        </div>
        <%- include('./partials/foot'); %>
            <!-- key gen -->
            <script src="/scripts/sha256.js"></script>
            <!-- <script src="/scripts/dragNdrop.js"></script> -->
            <script>

                async function getKey() {
                    return new Promise((resolve, reject) => {
                        var file = document.getElementById('strex');

                        if (file.files.length) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                var key = SHA256(e.target.result);
                                document.getElementById('SHA-key').value = key;
                                resolve({ key: key, error: "" });
                            };

                            reader.readAsText(file.files[0]);

                        }
                        else {
                            document.getElementById('SHA-key').value = "No File Uploaded";
                            resolve({ error: "No File Uploaded" });
                        }

                    });
                }
            </script>
            <!-- speed test -->
            <script>
                var imageAddr = "https://res.cloudinary.com/dpnkosbg4/image/upload/v1645816602/DocuCrypt/test_qphjqt.jpg";
                var downloadSize = 3379000; //bytes

                function ShowProgressMessage(msg) {
                    if (console) {
                        if (typeof msg == "string") {
                            console.log(msg);
                        } else {
                            for (var i = 0; i < msg.length; i++) {
                                console.log(msg[i]);
                            }
                        }
                    }

                    var actualHTML = (typeof msg == "string") ? msg : msg.join("<br />");
                    document.getElementById("outputSpeed").innerHTML = actualHTML;

                }

                async function InitiateSpeedDetection() {
                    ShowProgressMessage("Testing Speed");
                    var speedMbps = await MeasureConnectionSpeed();
                    return speedMbps;
                };

                async function MeasureConnectionSpeed() {
                    return new Promise((resolve, reject) => {
                        var startTime, endTime;
                        var download = new Image();
                        download.onload = function () {
                            endTime = (new Date()).getTime();
                            showResults();
                        }

                        download.onerror = function (err, msg) {
                            ShowProgressMessage("Error in measuring connection speed");
                            resolve({ error: "Couldn't get test file" });
                        }

                        startTime = (new Date()).getTime();
                        var cacheBuster = "?nnn=" + startTime;
                        download.src = imageAddr + cacheBuster;

                        function showResults() {
                            var duration = (endTime - startTime) / 1000;
                            var bitsLoaded = downloadSize * 8;
                            var speedMbps = (bitsLoaded / (1024 * 1024 * duration)).toFixed(2);
                            ShowProgressMessage([
                                "Speed: " + speedMbps + " Mbps",
                            ]);
                            resolve({ error: "", speed: speedMbps });
                        }
                    });

                }

            </script>
            <!-- timer -->
            <script>
                // Set the date we're counting down to
                var countDownDate = new Date("2022/02/28 12:27:30").getTime();

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    document.getElementById("timer").innerHTML = days + " : " + hours + " : " + minutes + " : " + seconds;

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("timer").innerHTML = "Time's Up";
                        // document.getElementById("strex").disabled = "True";

                        submitCheck();
                    }
                }, 1000);

            </script>
            <script>

                function clearInputFile(f) {
                    if (f.value) {
                        try {
                            f.value = ''; //for IE11, latest Chrome/Firefox/Opera...
                        } catch (err) { }
                        if (f.value) { //for IE5 ~ IE10
                            var form = document.createElement('form'),
                                parentNode = f.parentNode, ref = f.nextSibling;
                            form.appendChild(f);
                            form.reset();
                            parentNode.insertBefore(f, ref);
                        }
                    }
                }

                document.getElementById('submitCheck').onclick = () => { submitCheck() };
                async function submitCheck() {
                    var speedX = await InitiateSpeedDetection();
                    if (speedX.error === "Couldn't get test file")
                        document.getElementById("status").innerHTML = "Oops Something went wrong :'(";
                    else if (speedX.speed > 1.0) {
                        document.getElementById("status").innerHTML = "File ready to upload <hr>";
                        var key = await getKey();
                        console.log(key);
                        document.getElementById("submitKeyFile").style.display = "block";
                    }
                    else {
                        document.getElementById("status").innerHTML = "<div class='text-danger'>Your Internet Connection is unstable, please log back in within 24 hours and submit file when connection stablises</div>";
                        await getKey();
                        document.getElementById("submitAlt").style.display = "block";

                    }
                }
                document.getElementById('submitButtonAlt').onclick = () => {
                    clearInputFile(document.getElementById('strex'));

                }
            </script>

            <!-- <script>
                function copyToClip() {
                    // e.preventDefault();
                    var copyText = document.getElementById("SHA-key");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999);
                    navigator.clipboard.writeText(copyText.value)
                    // var tooltip = document.getElementById("myTooltip");
                    alert( "Copied: " + copyText.value);
                }
                document.getElementById('copyBtn').onclick = () => {copyToClip()}

            </script> -->

</body>

</html>
